@use "../global";
.u-sp {
  display: block !important;
  @include global.mq() {
    display: none !important;
  }
}
.u-pc {
  display: none !important;
  @include global.mq() {
    display: block !important;
  }
}
.u-hide {
  visibility: hidden !important;
  opacity: 0 !important;
}
.u-show {
  visibility: visible !important;
  opacity: 1 !important;
}
