@use "../global";

// .u-tac{text-align: center !important;}
// .u-tal{text-align: left !important;}
// .u-tar{text-align: right !important;}
// .u-taj{text-align: justify !important;}
// .u-gothic{font-family:$gothic !important;}
// .u-mincho{font-family:$mincho !important;}
// .u-f-bold{font-weight:bold !important;}
// .u-ls-0{letter-spacing: 0 !important;}
