@use "../global";
html {
  font-size: global.$base-font-size + px;
  text-underline-position: under;
  // scroll-behavior: smooth;
}
body {
  font-family: global.$gothic;
  font-weight: 600;
  line-height: 1.75;
  width: 100%;
  overflow-x: hidden;
  letter-spacing: 0.02em;
  font-feature-settings: "palt";
  font-size: global.rem(14);
  color: var(--black);
  @include global.mq() {
    font-size: global.rem(16);
  }
}

a {
  color: inherit;
  cursor: pointer;
}
svg {
  display: block;
  max-width: 100%;
}
img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

span,
i {
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-family: inherit;
}

button {
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  &:focus {
    opacity: 0.6;
    // border: 1px solid global.$border-c;
  }
}
/*-------フォントサイズ---------*/
