@use "../global";
.mv {
  position: relative;
  font-weight: 400;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include global.mq() {
    height: 90vh;
  }
  &::after,
  &::before {
    content: "";
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &::before {
    background: linear-gradient(to top, #2030a1 54%, #fff, #ff5847);
    background-size: cover;
    z-index: -1;
    opacity: 0.4;
    position: absolute;
  }
  &::after {
    position: fixed;
    background-image: url(../images/bk_mv.jpeg);
    z-index: -2;
  }
  font-size: 40px;
  .mv_title {
    margin: auto;
    text-align: center;
    color: #fff;
    font-family: global.$mincho;
    transition-duration: 1s !important;
    h1 {
      font-size: 16vw;
      font-weight: 400;
      line-height: 1em;
      @include global.mq() {
        font-size: 60px;
      }
      @include global.mq(lg) {
        font-size: 100px;
      }
    }
    p {
      font-size: 6vw;
      padding-top: 10px;
      @include global.mq() {
        font-size: 30px;
      }
      @include global.mq(lg) {
        font-size: 60px;
      }
    }
    h1,
    p {
      text-shadow: 0 1px 1px rgb(0 0 0 / 50%);
    }
  }
}

.concept {
  background-image: url(../images/bk_concept.jpeg);
  background-size: cover;
  position: relative;
  color: #fff;
  .l-inner {
    padding: 3em 0;
    @include global.mq() {
      padding: 6em 0;
    }
  }
  &::before {
    content: "";
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      329deg,
      #cdcbba,
      #286670 40%,
      #184574 80%,
      #031a32 100%
    );
    mix-blend-mode: multiply;
    @include global.mq() {
      background: linear-gradient(
        45deg,
        #cdcbba,
        #286670 30%,
        #184574 60%,
        #031a32 100%
      );
    }
  }
  h2 {
    font-family: global.$mincho;
    font-weight: 400;
    font-size: 7vw;
    text-align: left;
    color: #fff;
    line-height: 1.5em;
    transition-duration: 1s !important;
    @include global.mq() {
      font-size: 5vw;
    }
    @include global.mq(xl) {
      font-size: 52px;
    }
  }
  p {
    font-size: 13px;
    text-align: justify;
    padding-bottom: 1em;
    @include global.mq() {
      font-size: 16px;
      line-height: 2.5em;
      letter-spacing: 0.05em;
    }
  }
}

.map {
  background: linear-gradient(to bottom, #fff 50%, rgba(0, 0, 0, 0.5) 50%);
  color: #fff;
  .l-inner{
    max-width: 964px;
  }
  button{
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
    transition: all 0.3s;
    text-align: left;
    &:hover {
      opacity: 0.5;
    }
  }
  img{
    max-width: 100%;
    width: 100%;
  }
  .boothNumber{
    border: 1px solid #fff;
    padding: 1px 2px 2px 5px;
    margin-right: 5px;
  }
  .boothName{
    text-decoration: underline;
  }
  .map_txtbox {
    padding-top: 20px;
    p {
      display: inline-block;
    }
  }
  .map_imgbox {
    width: 100%;
    background-color: #d0d0d0;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  }
  .modalArea {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
  }
  .is-open{
    display: block;
  }

  .modalBg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
  a {
    color: #1a50b7;
    text-decoration: underline;
  }

  .modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    max-width: 800px;
    height: 90%;
    width: 90%;
    max-height: 1000px;
  }
  .modalContents {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  .modal-title {
    padding: 1.5em 3em;
    color: #000;
    @include global.mq() {
      padding: 30px;
    }
    h3 {
      font-size: 20px;
      @include global.mq() {
        font-size: 36px;
      }
    }
    .modal-map {
      font-size: 20px;
      padding: 2px 4px;
      vertical-align: middle;
      margin-right: 10px;
      @include global.mq() {
        font-size: 24px;
      }
    }
    .modal-txt {
      margin-bottom: 0.5em;
      font-size: 12px;
      @include global.mq() {
        font-size: 16px;
      }
    }
  }
  .modal-txt{
    color: #000;
    font-weight: 500;
    text-align: left;
    width: 90%;
    margin: 0 auto;
  }
  h4{
    font-size: 16px;
    border-left: 3px solid #065395;
    line-height: 1em;
    padding-left: 6px;
    margin: 30px auto 15px auto;
    color: #000;
    width: 90%;
    text-align: left;
  }
  ul{
    width: 90%;
    text-align: left;
    margin: 0 auto;
    li{
      color: #000;
       font-weight: 500;
    }
  }
  .modal-mainImg {
    width: 100%;
    max-width: 100%;
    height: 56vw;
    max-height: 400px;
    object-fit: contain;
  }
  .modal-subImg {
    max-width: 30%;
    height: 18vw;
    @include global.mq() {
      height: 160px;
    }
  }
  .closeModal {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    cursor: pointer;
    font-size: 34px;
    color: #fff;
    background-color: #000;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    line-height: 1.6em;
  }
}


.product {
  background-color: #fff;
  .modal-inner {
    position: relative;
    padding: 60px 0;
  }
  .product-inner {
    display: grid;
    grid-gap: 35px 13px;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: auto;
    @include global.mq() {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include global.mq(lg) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  .product-img,
  .modal-mainImg,
  .modal-subImg {
    border: 1px solid #e3e3e3;
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: #fff;
    }
  }
  .product-img {
    width: 100%;
    position: relative;
    display: inline-block;
    height: 32vw;
    @include global.mq() {
      height: 28vw;
    }
    @include global.mq(lg) {
      height: 21vw;
    }
    @include global.mq(xl) {
      height: 280px;
    }
  }
  .product-img-arrow {
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    @include global.mq() {
      width: 25px;
      height: 25px;
    }
    &::before {
      content: "";
      position: absolute;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      top: 5px;
      left: 7px;
      width: 8px;
      height: 8px;
      @include global.mq() {
        left: 8px;
        width: 11px;
        height: 11px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background: #fff;
      transform: rotate(135deg);
      height: 1px;
      top: 9px;
      left: 6px;
      width: 10px;
      @include global.mq() {
        top: 11px;
        left: 5px;
        width: 14px;
      }
    }
  }
  .product-tag {
    span {
      background-color: #7a6741;
      color: #fff;
      font-size: 10px;
      padding: 2px 4px;
      margin-right: 5px;
      border-radius: 2px;
      line-height: 1em;
      display: inline-block;
      @include global.mq() {
        font-size: 12px;
      }
    }
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .product-txt {
    font-size: 14px;
    margin-bottom: 0.3em;
  }
  .product-map {
    font-size: 14px;
    margin: -6px 0 5px;
    background-color: #333;
    color: #fff;
    padding: 20px 7px;
    @include global.mq() {
      padding: 0;
      margin-top: -9px;
    }
  }
  .modalArea {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    .modalBg {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
    }
    a {
      color: #1a50b7;
      text-decoration: underline;
    }
    .modalWrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      border-radius: 10px;
      max-width: 800px;
      height: 90%;
      width: 90%;
      max-height: 1000px;
    }
    .modalContents {
      overflow-y: scroll;
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
    .modal-title {
      padding: 1.5em 3em;
      background-color: #333;
      color: #fff;
      @include global.mq() {
        padding: 30px;
      }
      h3 {
        font-size: 20px;
        @include global.mq() {
          font-size: 36px;
        }
      }
      .modal-map {
        font-size: 10px;
        border: 1px solid;
        padding: 2px 4px;
        vertical-align: middle;
        margin-right: 10px;
        @include global.mq() {
          font-size: 13px;
        }
      }
      .modal-txt {
        margin-bottom: 0.5em;
        font-size: 12px;
        @include global.mq() {
          font-size: 16px;
        }
      }
    }
    .modal-mainImg {
      width: 100%;
      max-width: 100%;
      height: 56vw;
      max-height: 400px;
      object-fit: contain;
    }
    .modal-subImg {
      max-width: 30%;
      height: 18vw;
      @include global.mq() {
        height: 160px;
      }
    }
    table {
      border-collapse: collapse;
      width: 91%;
      margin: auto;
    }
    tr {
      font-size: 14px;
      text-align: left;
      border: 1px solid #e3e3e3;
      display: flex;
      flex-direction: column;
      width: 100%;
      @include global.mq() {
        display: table;
      }
    }
    th {
      background-color: var(--lightgrey);
      text-align: center;
      @include global.mq() {
        min-width: 150px;
      }
    }
    td h4 {
      font-size: 16px;
      border-left: 3px solid #065395;
      line-height: 1em;
      padding-left: 6px;
      margin: 2px 0 3px 0;
    }
    td p {
      font-weight: 400;
    }
    th,
    td {
      padding: 10px;
      vertical-align: middle;
      @include global.mq() {
        padding: 20px 10px;
      }
    }
    h5 {
      padding: 20px 0;
      font-size: 16px;
    }
  }
  .openModal {
    transition: all 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
  .closeModal {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    cursor: pointer;
    font-size: 34px;
    color: #fff;
    background-color: #000;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    line-height: 1.6em;
  }
  .is-open {
    display: block;
  }
}

.contact {
  background-color: var(--lightgrey);
  form {
    max-width: 600px;
    margin: auto;
    p {
      text-align: center;
      padding-bottom: 20px;
      font-weight: 400;
      font-size: 14px;
    }
  }
  tr {
    margin-bottom: 10px;
  }
  input,
  select {
    height: 2.5em;
  }
  input,
  textarea,
  select {
    width: 100%;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    padding-left: 15px;
  }
  textarea {
    padding-top: 15px;
  }
  th {
    text-align: right;
    vertical-align: middle;
    span {
      background-color: #b11a1a;
      color: #fff;
      font-size: 10px;
      line-height: 1em;
      padding: 2px 4px 1px;
      border-radius: 3px;
      margin-left: 5px;
    }
  }
  th,
  td {
    padding-top: 15px;
  }
  .agree {
    width: auto;
  }
  .box_check {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
  }
  .btn input {
    padding: 10px;
    color: #fff;
    background-color: #b11a1a;
    min-width: 170px;
    text-align: center;
    font-size: 18px;
    width: 250px;
    font-family: global.$mincho;
    border-radius: 6px;
  }
}

.official-site_btn {
  text-align: center;
  background-color: rgb(6 83 149 / 86%);
  a {
    width: 300px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
    background-color: #fff;
    color: rgb(6 83 149);
    font-family: global.$mincho;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 16px;
    margin: 30px auto;
    display: inline-block;
    img {
      display: inline;
      margin-left: 8px;
      height: 1em;
    }
  }
}

.outline {
  background-color: #fff;
  background-image: url(../images/bk_outline_r.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  @include global.mq(lg) {
    background-image: url(../images/bk_outline_l.png),
      url(../images/bk_outline_r.png);
    background-position: left, right;
  }
  table {
    margin: auto;
    border-collapse: collapse;
    tr {
      border-top: 1px solid #a0a0a0;
      &:last-child {
        border-bottom: 1px solid #a0a0a0;
      }
    }
    th,
    td {
      text-align: left;
      padding: 0.5em;
      font-size: 13px;
      vertical-align: middle;
      @include global.mq() {
        padding: 0.7em 2em;
        font-size: 16px;
      }
    }
    th {
      background-color: var(--lightgrey);
      text-align: center;
    }
    td {
      font-weight: 400;
    }
  }
}
