@use "../global";

// 余白の種類はS,M,Lなどの抽象的な命名をする
//【 ×NG例 】.u-mt-10{margin-top:10px !important;}　←これはだめ

.u-mt-s {
  margin-top: 10px !important;
}
.u-mt-m {
  margin-top: 20px !important;
}
.u-mt-l {
  margin-top: 30px !important;
}

.u-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

@include global.mq() {
  .u-mt-s {
    margin-top: 20px !important;
  }
  .u-mt-m {
    margin-top: 30px !important;
  }
  .u-mt-l {
    margin-top: 60px !important;
  }
}
