@use "../global";

//レイアウト

.l-wrapper {
  padding: global.$wrapper-padding;
}
.l-inner {
  width: 95%;
  max-width: global.$inner-width;
  margin: 0 auto;
  position: relative;
  padding: 30px 0;
  @include global.mq() {
    padding: 80px 0 60px;
  }
}
.l-flex {
  display: flex;
}
.l-grid {
  display: grid;
  &.-col2 {
    grid-template-columns: 1fr 1fr;
  }
  &.-col3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

h2 {
  font-size: 9vw;
  text-align: center;
  font-family: global.$mincho;
  font-weight: 400;
  color: rgba(6, 83, 149);
  @include global.mq() {
    font-size: 60px;
  }
}

//mvスクロールアニメーション
/*スクロールダウン全体の場所*/
.scrolldown1 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  left: 50%;
  bottom: 10px;
  /*全体の高さ*/
  height: 50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span {
  /*描画位置*/
  position: absolute;
  left: -15px;
  top: -15px;
  /*テキストの形状*/
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown1::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 0;
  /*線の形状*/
  width: 1px;
  height: 30px;
  background: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

//page-top
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(6, 83, 149, 0.86);
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
  padding-top: 10px;
}

#page-top a:hover {
  background: #777;
}

#page-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  opacity: 0;
  transform: translateX(100px);
  ::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #fff;
    top: 10px;
  }
}

#page-top.LeftMove {
  animation: LeftAnime 0.5s forwards;
}

@keyframes LeftAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#page-top.RightMove {
  animation: RightAnime 0.5s forwards;
}
@keyframes RightAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(100px);
  }
}
