@use "../global";
.copyright {
  color: #fff;
  padding: 3rem 0;
  text-align: center;
}
.l-footer {
  position: relative;
  &::before {
    background: linear-gradient(to left, #2030a1 54%, #4799ff);
    background-size: cover;
    z-index: -1;
    opacity: 0.4;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
