@use 'sass:math';
@use "var";

$fontSize: var.$base-font-size;
@function rem($pixels) {
  @return math.div($pixels, $fontSize) * 1rem;
}

//remをpx感覚で使う
//例）.class{font-size:  global.rem(12);}
//→　.class{font-size: 0.875rem;}

$baseWidth: 375; //vw関数は主にSPで使うため、SP版のベース幅を設定しています
@function vw($px) {
  @return math.div($px, $baseWidth) * 100 * 1vw;
}
//vwをpx感覚で使う
//例）.class{font-size: vw(12);}
