// シャドウ
@mixin shadow {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

// 疑似要素
// @mixin ba {
//   content: '';
//   display: inline-block;
// }

// センタリング
// @mixin centering {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// // 縦書き
// @mixin tate {
//   writing-mode: vertical-rl;
//   -ms-writing-mode: tb-rl;
//   -webkit-writing-mode: vertical-rl;
//   writing-mode: vertical-rl;
// }

// テキスト関連を親要素からすべて継承する
// @mixin text-inherit {
//   text-align: inherit;
//   font-size: inherit;
//   font-weight: inherit;
//   letter-spacing: inherit;
//   line-height: inherit;
//   color: inherit;
// }

// インナー超えて100％にする
// @mixin full-width {
//  margin: 0 calc(50% - 50vw);
//  width: 100vw;
// }

// グラデーション
// @mixin gradient {
// background-image:
// linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
// linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
// linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
// }