//フォント ---------------------
$gothic: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
  "メイリオ", "Meiryo", sans-serif;
$mincho: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho",
  "MS PMincho", serif;

//色 -------------------------------------

:root {
  --yellow: #ffeb00;
  --blue: #009be6;
  --white: #fff;
  --black: #000;
  --grey: #d4dde2;
  --darkgrey: #8e99a9;
  --lightgrey: #e4ecef;
  --main-c: var(--grey);
  --key-c: var(--blue);
  --accent-c: var(--yellow);
  --base-c: var(--lightgrey);
}

//コンテンツ幅 ----------------------------
$inner-width: 1100px;

//ブロック間余白 --------------------------
$wrapper-padding: 10px;
$wrapper-padding-pc: 25px;

//ヘッダー高さ --------------------------
$header-height: 50px;
$header-height-pc: 80px;

//ベースフォントサイズ ---------------------
$base-font-size: 16;

//ブレークポイント ------------------------

// 下記2パターン用意しているので案件によって適宜選ぶ

// $breakpoints: (
//   'sm': 'screen and (min-width: 576px)',
//   'md': 'screen and (min-width: 768px)',
//   'lg': 'screen and (min-width: 992px)',
//   'xl': 'screen and (min-width: 1200px)',
//   'xxl': 'screen and (min-width: 1400px)'
// ) !default;

$breakpoints: (
  "sm": "screen and (min-width: 640px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 1024px)",
  "xl": "screen and (min-width: 1280px)",
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// @include global.mq(){}
