@use "../global";
.l-header {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
}
.navBox {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 10px rgb(0 0 0 / 3%);
  @include global.mq() {
    padding: 10px;
  }
}
.nav_right,
.nav_menuBox {
  align-items: center;
}
.nav_left {
  padding: 5px 0;
  height: 100%;
  width: 50%;
  max-width: 210px;
  @include global.mq() {
    width: 300px;
  }
  img {
    padding-left: 10px;
    height: 100%;
    @include global.mq(sm) {
      max-height: 20px;
    }
    @include global.mq() {
      max-height: 40px;
    }
  }
}

.nav_right {
  font-family: global.$mincho;
  font-weight: 400;
  display: flex;
  .nav_cv-btn {
    color: #fff;
    background-color: rgb(177, 26, 26);
    text-align: center;
    font-size: 14px;
    border-radius: 6px;
    position: relative;
    padding: 0 10px;
    margin-right: 10px;
    @include global.mq() {
      padding: 10px;
    }
    &::after {
      width: 0;
      height: 0;
      border-top: 7px solid #fff;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      display: inline-block;
      margin: 0 0 3px 5px;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      @include global.mq() {
        content: "";
      }
    }
    @include global.mq() {
      min-width: 170px;
      margin-right: 0;
    }
  }
  a {
    display: inline-block;
  }
  .nav_menu {
    p {
      position: relative;
      padding: 10px 20px 10px 10px;
      &::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 7px solid #b11a1a;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        display: inline-block;
        margin: 0 0 3px 5px;
      }
    }
  }
}

//ハンバーガー
.burger-btn {
  display: block;
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 3;
  border: none;
  background-color: rgba(6, 83, 149, 0.86);
}
.bar {
  width: 20px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
.bar_top {
  top: 10px;
}
.bar_mid {
  top: 50%;
  transform: translate(-50%, -50%);
}
.bar_bottom {
  bottom: 10px;
}
.burger-btn.close .bar_top {
  transform: translate(-50%, 10px) rotate(45deg);
  transition: transform 0.3s;
}
.burger-btn.close .bar_mid {
  opacity: 0;
  transition: opacity 0.3s;
}
.burger-btn.close .bar_bottom {
  transform: translate(-50%, -8px) rotate(-45deg);
  transition: transform 0.3s;
}
.nav-wrapper {
  transform: translateX(100%);
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.header-nav {
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
  padding: 39px 0;
  .nav-item {
    color: #065395;
    font-size: 20px;
    border-top: 1px solid #f0f0f0;
    text-align: center;
    a {
      padding: 30px 0;
      width: 100%;
    }
    &:last-child {
      border-bottom: 1px solid #f0f0f0;
    }
  }
}
.header-nav.nav-list {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-nav.nav-item {
  margin-right: 0;
  margin-bottom: 40px;
}
body.noscroll {
  overflow: hidden;
}
.nav-wrapper.slide-in {
  transform: translateX(0);
  transition: 0.3s;
}
